(base) d:\Users\Sanja\Desktop\Air_Pollution>conda list
# packages in environment at C:\Users\Sanja\Anaconda3:
#
# Name                    Version                   Build  Channel
conda                     4.8.3                    py37_0
dash                      1.4.1                      py_0
dash-core-components      1.3.1                      py_0
dash-html-components      1.0.1                      py_0
dash-ui                   0.4.0                    pypi_0    
flask                     1.1.1                      py_0
glob2                     0.7                        py_0
numpy                     1.16.5           py37h19fb1c0_0
pandas                    0.25.1           py37ha925a31_0
pip                       19.2.3                   py37_0
plotly                    4.8.2                      py_0
python                    3.7.4                h5263a28_0
